<h2 mat-dialog-title class="custom-dialog-title">Confirm Action</h2>
<mat-dialog-content class="custom-dialog-content">
  <form (ngSubmit)="onSubmit($event)">
    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <br />
    <input type="text" />
    <br />
    <input type="text" />
    <br />
  </form>
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Edit</button>
</mat-dialog-actions>
