<div class="flex justify-center items-center h-screen">
  <div class="rounded-sm border p-20 justify-center text-center">
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-label class="mr-2">Login</mat-label>
      <mat-form-field class="rounded-sm">
        <input matInput formControlName="username" class="rounded-sm" />
      </mat-form-field>
      <br />
      <mat-label class="mr-2">Password</mat-label>
      <mat-form-field>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <button class="btn btn-primary border p-2" type="submit">Login</button>
    </form>
  </div>
</div>
