<div class="w-full">
  <app-search (searchTextChanged)="setSearchText($event)"></app-search>
  <hr />
  <div class="px-[4vh] py-[30px]">
    <div class="line-clamp-2">
      <p class="text-[#404D61] text-[24px] font-[500]">Employee</p>
      <p class="text-[#757D8A] text-[16px] font-[400]">
        {{ usersCount() }} results found
      </p>
    </div>
  </div>
  <!-- CARD TABLE -->
  <div class="px-[4vh] grid grid-cols-4 mb-2">
    @if (statisticData) { @for (item of statisticData; track $index) {
    <div
      [style.background-color]="item?.color"
      class="bg-[#F8F8F8] w-[16vw] h-[10vw] pl-[8%] pt-[8%] rounded-[10px]"
    >
      <p [style.color]="item?.text_color">{{ item?.title }}</p>
      <p
        [style.color]="item?.text_color"
        class="text-[22px] font-[700] text-[#404D61]"
      >
        {{ item?.count }}
      </p>
    </div>
    } }
  </div>
  <!-- USER TABLE -->
  <app-user-table
    [usersData]="usersData"
    (userDeleteId)="userDeleteId($event)"
  ></app-user-table>
</div>
